#brand {
	background-color: #FFFFFF;
}

#brandName {
	background-color: #FFFFFF;
	height: 30px;
}

#brand div {
	width: 19%;
	display: inline;
	height: 120px;
}

#brand div img {
	width: 19%;
	height: 1%;
	margin-left: 4%;
	margin-top: 3%;
	background-color: #FFFFFF;
}

.mui-table-view:before {
	background-color: #FFFFFF;
}

li .mui-table-view {
	background-color: #FFFFFF;
}

.mui-slider-handle p img {
	width: 16px;
	height: 16px;
	margin-bottom: -3px;
	margin-right: 4px;
}

.aui-active {
	border-bottom: 2px solid #000000;
}

li p {
	margin: 3px;
}
a{
	color:#999;
}


.hetaoFoot {
	position: fixed;
	top: auto;
	bottom: 0;
	table-layout: fixed;
	background-color: #ffffff;
	color: #757575;
	height:53px;
	width:100%;
	max-width: 414px;
	text-align: center;
	vertical-align:middle;
}
.hetaoFoot div
{
	float:left;
	height:53px;
	vertical-align: middle;
	text-align: center;
}
.hetaoFoot div:nth-child(1){
	
	padding-top: 10px;
	width:15%;
	
}
.hetaoFoot div:nth-child(2){
	padding-top: 10px;
	width:15%;
}
.hetaoFoot div:nth-child(3){
	background-color: #f1c40f;
	width:35%;
	padding-top: 15px;
	font-size: 20px;
	color: #FFFFFF;
}
.hetaoFoot div:nth-child(4){
	background-color: #e51c23;
	width:35%;
	margin-right: 0px;
	padding-top: 15px;
	font-size: 20px;
	color: #FFFFFF;
}
.mui-table-view:after{
	background-color:#FFFFFF;
}
.mui-table-view:before{
	background-color:#FFFFFF;
}
.mui-table-view-cell:after{
	background-color:#FFFFFF;
}
.mui-content-padded img{
	width:100%;
	max-width: 414px;
}
